h1{
    margin: 0;
}
p{
    margin: 0;
    font-size: 20px;
}
body{
    margin: 0;
}
a{
    font-size: 20px;
    color: rgb(255, 255, 255)
}
a:visited{
    color: rgb(193, 234, 251)

}
a:hover{
    color: rgb(245, 178, 168)
}
header{
    margin-bottom: 20px;
    background-color: rgb(244,79,79);
    text-align: center;
    /* margin-left: auto; */
    /* margin-right: auto; */
}
header h1{
    color: rgb(255, 255, 255);
    margin: 0;
}
main{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.contents{
    border: solid 3px rgb(238, 204, 204);
    flex-basis: 25%;
    padding: 10px 15px;
    margin: 20px 0px;
    text-align: center;
    
}
h2{
    font-size: 25px;
    border-bottom: 3px dotted rgb(236, 122, 122);
}
h2::before{
    content:"・" ;
    color: rgb(249, 111, 139);
    font-size: 25px;
}
.contents p:nth-of-type(2)::first-letter{
    font-weight: bold;
    color: rgb(97, 206, 249);
}
img{
    margin: 10px 0px;
    width: 70%;
}
footer{
    background-color: rgb(244, 79, 79);
    text-align: center;
     /* margin-left: auto; */
    /* margin-right: auto; */
}

/* 元の横並び　デフォルト設定 */
#parent{
    /* 子要素が横並びになるデフォルト */
    display: flex;
    /* 余白を調整 */
    justify-content: space-around;
}

/* 画面幅768px以下のとき */
@media screen and (max-width:768px) {
    h2{
        font-size: 30px;
    }
    p{
        font-size: 25px;
    }

    /* Flexboxコンテナ内の要素を縦に並べる */
    #parent{
        /* Flexboxを有効にする */
        display: flex;
        /*縦に並べる*/
        flex-direction: column; 
    }  
}
